.message {
background:#181818;
color:#FFF;
position: absolute;
bottom: -250px;
left: 0;
width: 100%;
height: 250px;
padding: 20px;
transition: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

.message h1 {
  color:#FFF;
}

#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  bottom:-100%;
}

#toggle + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #26ae90;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}
#toggle + label:after {
  content:"Open" 
}

.container {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:5em 3em;
}

#toggle:checked ~ .message {
  bottom: 0;
}

#toggle:checked ~ .container {
  margin-bottom: 250px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}


img.emoticon {
width: 16px;
vertical-align: top;
}
.dropdown-search-content .hashtag-result {
display: block;
color: #C68DD1;
padding: 10px 15px;
cursor: pointer;
border-bottom: 1px solid #f0f0f0;
}  
.dropdown-search-content .hashtag-result:hover {
background: #F5FEFF;
}
.story-publisher-box .emoticons-wrapper {
padding: 0;
}
.story-publisher-box .emoticons-wrapper img {
display: inline-block;
padding: 7px 6px;
cursor: pointer;
}
.message-container .text-message-wrapper {
position: relative;
}
.text-message-wrapper .remove-btn {
position: absolute;
top: 15px;
right: 10px;
color: #d0d0d0;
cursor: pointer;
}
.text-message-wrapper .remove-btn i {
font-size: 12px;    
}
.text-message-wrapper .remove-btn:hover {
color: #898f9c;
}

.join-mask {
    bottom: 0;
    left: 0;
    right: 0;
    top: 45px;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.32) 50%, rgba(0, 0, 0, 0.18) 71%, rgba(0, 0, 0, 0.02) 100%);
}

.join-container {
    text-align: center;
    min-height: 0;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: 0;
    top: 25%;
    position: fixed;
    width: 100%;
}

.join-wrapper {
    background: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    display: inline-block;
    text-align: left;
    padding: 25px;
    width: 100%;
    max-width: 270px;
}
.join-header h1 {
    margin: 0;
}
.join-content {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-buttoms button {
    padding: 0;
}
.join-buttoms button a {
    display: block;
    padding: 8px 10px;
}
.join-buttoms .join-buttom a {
    color: #fff;
}

.tooltip {
position: absolute;
z-index: 1070;
display: block;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.42857143;
text-align: left;
text-align: start;
text-decoration: none;
text-shadow: none;
text-transform: none;
letter-spacing: normal;
 word-break: normal;
 word-spacing: normal;
word-wrap: normal;
white-space: normal;
filter: alpha(opacity=0);
opacity: 0;
line-break: auto
}

.tooltip.in {
filter: alpha(opacity=90);
opacity: .9
}

.tooltip.top {
padding: 5px 0;
margin-top: -3px
}

.tooltip.right {
padding: 0 5px;
margin-left: 3px
}

.tooltip.bottom {
padding: 5px 0;
margin-top: 3px
}

.tooltip.left {
padding: 0 5px;
margin-left: -3px
}

.tooltip-inner {
max-width: 200px;
padding: 3px 8px;
color: #fff;
text-align: center;
background-color: #000;
border-radius: 4px
}

.tooltip-arrow {
position: absolute;
width: 0;
height: 0;
border-color: transparent;
border-style: solid
}

.tooltip.top .tooltip-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-width: 5px 5px 0;
border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
right: 5px;
bottom: 0;
margin-bottom: -5px;
border-width: 5px 5px 0;
border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
bottom: 0;
left: 5px;
margin-bottom: -5px;
border-width: 5px 5px 0;
border-top-color: #000
}

.tooltip.right .tooltip-arrow {
top: 50%;
left: 0;
margin-top: -5px;
border-width: 5px 5px 5px 0;
border-right-color: #000
}

.tooltip.left .tooltip-arrow {
top: 50%;
right: 0;
margin-top: -5px;
border-width: 5px 0 5px 5px;
border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
top: 0;
left: 50%;
margin-left: -5px;
border-width: 0 5px 5px;
border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
top: 0;
right: 5px;
margin-top: -5px;
border-width: 0 5px 5px;
border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
top: 0;
left: 5px;
margin-top: -5px;
border-width: 0 5px 5px;
border-bottom-color: #000
}

.animation-slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    visibility: visible!important
}

.animation-slideDown,.animation-slideUp {
    animation-duration: 1s;
    animation-timing-function: ease
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }

    50% {
        transform: translateY(8%)
    }

    65% {
        transform: translateY(-4%)
    }

    80% {
        transform: translateY(4%)
    }

    95% {
        transform: translateY(-2%)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }

    50% {
        -webkit-transform: translateY(8%)
    }

    65% {
        -webkit-transform: translateY(-4%)
    }

    80% {
        -webkit-transform: translateY(4%)
    }

    95% {
        -webkit-transform: translateY(-2%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

.animation-slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    visibility: visible!important
}

@keyframes slideUp {
    0% {
        transform: translateY(100%)
    }

    50% {
        transform: translateY(-8%)
    }

    65% {
        transform: translateY(4%)
    }

    80% {
        transform: translateY(-4%)
    }

    95% {
        transform: translateY(2%)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%)
    }

    50% {
        -webkit-transform: translateY(-8%)
    }

    65% {
        -webkit-transform: translateY(4%)
    }

    80% {
        -webkit-transform: translateY(-4%)
    }

    95% {
        -webkit-transform: translateY(2%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

.animation-slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible!important
}

.animation-slideLeft,.animation-slideRight {
    animation-duration: 1s;
    animation-timing-function: ease-in-out
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%)
    }

    50% {
        ransform: translateX(-8%)
    }

    65% {
        transform: translateX(4%)
    }

    80% {
        transform: translateX(-4%)
    }

    95% {
        transform: translateX(2%)
    }

    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%)
    }

    50% {
        -webkit-transform: translateX(-8%)
    }

    65% {
        -webkit-transform: translateX(4%)
    }

    80% {
        -webkit-transform: translateX(-4%)
    }

    95% {
        -webkit-transform: translateX(2%)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

.animation-slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible!important
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%)
    }

    50% {
        transform: translateX(8%)
    }

    65% {
        transform: translateX(-4%)
    }

    80% {
        transform: translateX(4%)
    }

    95% {
        transform: translateX(-2%)
    }

    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%)
    }

    50% {
        -webkit-transform: translateX(8%)
    }

    65% {
        -webkit-transform: translateX(-4%)
    }

    80% {
        -webkit-transform: translateX(4%)
    }

    95% {
        -webkit-transform: translateX(-2%)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

.animation-slideExpandUp {
    animation-name: slideExpandUp;
    -webkit-animation-name: slideExpandUp;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease -out;
    visibility: visible!important
}

@keyframes slideExpandUp {
    0% {
        transform: translateY(100%) scaleX(.5)
    }

    30% {
        transform: translateY(-8%) scaleX(.5)
    }

    40% {
        transform: translateY(2%) scaleX(.5)
    }

    50% {
        transform: translateY(0) scaleX(1.1)
    }

    60% {
        transform: translateY(0) scaleX(.9)
    }

    70% {
        transform: translateY(0) scaleX(1.05)
    }

    80% {
        transform: translateY(0) scaleX(.95)
    }

    90% {
        transform: translateY(0) scaleX(1.02)
    }

    100% {
        transform: translateY(0) scaleX(1)
    }
}

@-webkit-keyframes slideExpandUp {
    0% {
        -webkit-transform: translateY(100%) scaleX(.5)
    }

    30% {
        -webkit-transform: translateY(-8%) scaleX(.5)
    }

    40% {
        -webkit-transform: translateY(2%) scaleX(.5)
    }

    50% {
        -webkit-transform: translateY(0) scaleX(1.1)
    }

    60% {
        -webkit-transform: translateY(0) scaleX(.9)
    }

    70% {
        -webkit-transform: translateY(0) scaleX(1.05)
    }

    80% {
        -webkit-transform: translateY(0) scaleX(.95)
    }

    90% {
        -webkit-transform: translateY(0) scaleX(1.02)
    }

    100% {
        -webkit-transform: translateY(0) scaleX(1)
    }
}

.animation-expandUp {
    animation-name: expandUp;
    -webkit-animation-name: expandUp;
    animation-duration: .7s;
    -webkit-animation-duration: .7s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible!important
}

@keyframes expandUp {
    0% {
        transform: translateY(100%) scale(.6) scaleY(.5)
    }

    60% {
        transform: translateY(-7%) scaleY(1.12)
    }

    75% {
        transform: translateY(3%)
    }

    100% {
        transform: translateY(0) scale(1) scaleY(1)
    }
}

@-webkit-keyframes expandUp {
    0% {
        -webkit-transform: translateY(100%) scale(.6) scaleY(.5)
    }

    60% {
        -webkit-transform: translateY(-7%) scaleY(1.12)
    }

    75% {
        -webkit-transform: translateY(3%)
    }

    100% {
        -webkit-transform: translateY(0) scale(1) scaleY(1)
    }
}

.animation-fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible!important
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.animation-expandOpen {
    animation-name: expandOpen;
    -webkit-animation-name: expandOpen;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

@keyframes expandOpen {
    0% {
        transform: scale(1.8)
    }

    50% {
        transform: scale(.95)
    }

    80% {
        transform: scale(1.05)
    }

    90% {
        transform: scale(.98)
    }

    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes expandOpen {
    0% {
        -webkit-transform: scale(1.8)
    }

    50% {
        -webkit-transform: scale(.95)
    }

    80% {
        -webkit-transform: scale(1.05)
    }

    90% {
        -webkit-transform: scale(.98)
    }

    100% {
        -webkit-transform: scale(1)
    }
}

.animation-bigEntrance {
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

@keyframes bigEntrance {
    0% {
        transform: scale(.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: .2
    }

    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1
    }

    45% {
        transform: scale(.98) rotate(1deg) translateX(0) translateY(0);
        opacity: 1
    }

    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0) translateY(0);
        opacity: 1
    }

    75% {
        transform: scale(.99) rotate(1deg) translateX(0) translateY(0);
        opacity: 1
    }

    90% {
        transform: scale(1.01) rotate(0) translateX(0) translateY(0);
        opacity: 1
    }

    100% {
        transform: scale(1) rotate(0) translateX(0) translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: .2
    }

    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1
    }

    45% {
        -webkit-transform: scale(.98) rotate(1deg) translateX(0) translateY(0);
        opacity: 1
    }

    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0) translateY(0);
        opacity: 1
    }

    75% {
        -webkit-transform: scale(.99) rotate(1deg) translateX(0) translateY(0);
        opacity: 1
    }

    90% {
        -webkit-transform: scale(1.01) rotate(0) translateX(0) translateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1) rotate(0) translateX(0) translateY(0);
        opacity: 1
    }
}

.animation-hatch {
    animation-name: hatch;
    -webkit-animation-name: hatch;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    visibility: visible!important
}

@keyframes hatch {
    0% {
        transform: rotate(0) scaleY(.6)
    }

    20% {
        transform: rotate(-2deg) scaleY(1.05)
    }

    35% {
        transform: rotate(2deg) scaleY(1)
    }

    50% {
        transform: rotate(-2deg)
    }

    65% {
        transform: rotate(1deg)
    }

    80% {
        transform: rotate(-1deg)
    }

    100% {
        transform: rotate(0)
    }
}

@-webkit-keyframes hatch {
    0% {
        -webkit-transform: rotate(0) scaleY(.6)
    }

    20% {
        -webkit-transform: rotate(-2deg) scaleY(1.05)
    }

    35% {
        -webkit-transform: rotate(2deg) scaleY(1)
    }

    50% {
        -webkit-transform: rotate(-2deg)
    }

    65% {
        -webkit-transform: rotate(1deg)
    }

    80% {
        -webkit-transform: rotate(-1deg)
    }

    100% {
        -webkit-transform: rotate(0)
    }
}

.animation-bounce {
    animation-name: bounce;
    -webkit-animation-name: bounce;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%
}

@keyframes bounce {
    0% {
        transform: translateY(0) scaleY(.6)
    }

    60% {
        transform: translateY(-100%) scaleY(1.1)
    }

    70% {
        transform: translateY(0) scaleY(.95) scaleX(1.05)
    }

    80% {
        transform: translateY(0) scaleY(1.05) scaleX(1)
    }

    90% {
        transform: translateY(0) scaleY(.95) scaleX(1)
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1)
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0) scaleY(.6)
    }

    60% {
        -webkit-transform: translateY(-100%) scaleY(1.1)
    }

    70% {
        -webkit-transform: translateY(0) scaleY(.95) scaleX(1.05)
    }

    80% {
        -webkit-transform: translateY(0) scaleY(1.05) scaleX(1)
    }

    90% {
        -webkit-transform: translateY(0) scaleY(.95) scaleX(1)
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1)
    }
}

.animation-pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes pulse {
    0%,100% {
        transform: scale(.9);
        opacity: .7
    }

    50% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes pulse {
    0%,100% {
        -webkit-transform: scale(.95);
        opacity: .7
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.animation-floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes floating {
    0%,100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(8%)
    }
}

@-webkit-keyframes floating {
    0%,100% {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(8%)
    }
}

.animation-tossing {
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes tossing {
    0%,100% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(4deg)
    }
}

@-webkit-keyframes tossing {
    0%,100% {
        -webkit-transform: rotate(-4deg)
    }

    50% {
        -webkit-transform: rotate(4deg)
    }
}

.animation-pullUp {
    animation-name: pullUp;
    -webkit-animation-name: pullUp;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%
}

.animation-pullDown,.animation-pullUp {
    animation-duration: 1.1s;
    animation-timing-function: ease-out
}

@keyframes pullUp {
    0% {
        transform: scaleY(.1)
    }

    40% {
        transform: scaleY(1.02)
    }

    60% {
        transform: scaleY(.98)
    }

    80% {
        transform: scaleY(1.01)
    }

    100% {
        transform: scaleY(1)
    }
}

@-webkit-keyframes pullUp {
    0% {
        -webkit-transform: scaleY(.1)
    }

    40% {
        -webkit-transform: scaleY(1.02)
    }

    60% {
        -webkit-transform: scaleY(.98)
    }

    80% {
        -webkit-transform: scaleY(1.01)
    }

    100% {
        -webkit-transform: scaleY(1)
    }
}

.animation-pullDown {
    animation-name: pullDown;
    -webkit-animation-name: pullDown;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0
}

@keyframes pullDown {
    0% {
        transform: scaleY(.1)
    }

    40% {
        transform: scaleY(1.02)
    }

    60% {
        transform: scaleY(.98)
    }

    80% {
        transform: scaleY(1.01)
    }

    100% {
        transform: scaleY(1)
    }
}

@-webkit-keyframes pullDown {
    0% {
        -webkit-transform: scaleY(.1)
    }

    40% {
        -webkit-transform: scaleY(1.02)
    }

    60% {
        -webkit-transform: scaleY(.98)
    }

    80% {
        -webkit-transform: scaleY(1.01)
    }

    100% {
        -webkit-transform: scaleY(1)
    }
}

.animation-stretchLeft {
    animation-name: stretchLeft;
    -webkit-animation-name: stretchLeft;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0
}

.animation-stretchLeft,.animation-stretchRight {
    animation-duration: 1.5s;
    animation-timing-function: ease-out
}

@keyframes stretchLeft {
    0% {
        transform: scaleX(.3)
    }

    40% {
        transform: scaleX(1.02)
    }

    60% {
        transform: scaleX(.98)
    }

    80% {
        transform: scaleX(1.01)
    }

    100% {
        transform: scaleX(1)
    }
}

@-webkit-keyframes stretchLeft {
    0% {
        -webkit-transform: scaleX(.3)
    }

    40% {
        -webkit-transform: scaleX(1.02)
    }

    60% {
        -webkit-transform: scaleX(.98)
    }

    80% {
        -webkit-transform: scaleX(1.01)
    }

    100% {
        -webkit-transform: scaleX(1)
    }
}

.animation-stretchRight {
    animation-name: stretchRight;
    -webkit-animation-name: stretchRight;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

@keyframes stretchRight {
    0% {
        transform: scaleX(.3)
    }

    40% {
        transform: scaleX(1.02)
    }

    60% {
        transform: scaleX(.98)
    }

    80% {
        transform: scaleX(1.01)
    }

    100% {
        transform: scaleX(1)
    }
}

@-webkit-keyframes stretchRight {
    0% {
        -webkit-transform: scaleX(.3)
    }

    40% {
        -webkit-transform: scaleX(1.02)
    }

    60% {
        -webkit-transform: scaleX(.98)
    }

    80% {
        -webkit-transform: scaleX(1.01)
    }

    100% {
        -webkit-transform: scaleX(1)
    }
}

.animation-pulseSlow {
    animation-name: pulseSlow;
    -webkit-animation-name: pulseSlow;
    animation-duration: 30s;
    -webkit-animation-duration: 30s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear
}

@keyframes pulseSlow {
    0%,100% {
        transform: scale(1.1)
    }

    50% {
        transform: scale(1)
    }
}

@-webkit-keyframes pulseSlow {
    0%,100% {
        -webkit-transform: scale(1.1)
    }

    50% {
        -webkit-transform: scale(1)
    }
}

.animation-floatingHor {
    animation-name: floatingHor;
    -webkit-animation-name: floatingHor;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes floatingHor {
    0%,100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(8%)
    }
}

@-webkit-keyframes floatingHor {
    0%,100% {
        -webkit-transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(8%)
    }
}

.animation-fadeInQuick {
    animation-name: fadeInQuick;
    -webkit-animation-name: fadeInQuick;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

@keyframes fadeInQuick {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeInQuick {
    0% {
        -webkit-transform: scale(.9);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.animation-fadeInQuickInv {
    animation-name: fadeInQuickInv;
    -webkit-animation-name: fadeInQuickInv;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

.animation-fadeIn360,.animation-fadeInQuickInv {
    animation-duration: .5s;
    animation-timing-function: ease-out
}

@keyframes fadeInQuickInv {
    0% {
        transform: scale(1.1);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeInQuickInv {
    0% {
        -webkit-transform: scale(1.1);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.animation-fadeIn360 {
    animation-name: fadeIn360;
    -webkit-animation-name: fadeIn360;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

@keyframes fadeIn360 {
    0% {
        transform: rotate(0) scale(1.3);
        opacity: 0
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeIn360 {
    0% {
        -webkit-transform: rotate(0) scale(1.3);
        opacity: 0
    }

    100% {
        -webkit-transform: rotate(360deg) scale(1);
        opacity: 1
    }
}

.animation-fadeInRight {
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    -webkit-animation-duration: .75s;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

.animation-fadeInLeft,.animation-fadeInRight {
    animation-duration: .75s;
    animation-timing-function: ease-out
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1
    }
}

.animation-fadeInLeft {
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: .75s;
    -webkit-animation-timing-function: ease-out;
    visibility: visible!important
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(+100%);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(+100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        opacity: 1
    }
}


.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 2s forwards;
}

.blur-out {
  -webkit-animation: blur-out 2s forwards;
  -moz-animation: blur-out 2s forwards;
  -o-animation: blur-out 2s forwards;
  animation: blur-out 2s forwards;
}

@-webkit-keyframes 
blur { 0% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
}

@-moz-keyframes 
blur { 0% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
}

@-o-keyframes 
blur { 0% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
}

@keyframes 
blur { 0% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
}

@-webkit-keyframes 
blur-out { 0% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
 100% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
}
 
@-moz-keyframes 
blur-out { 0% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
 100% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
}

@-o-keyframes 
blur-out { 0% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
 100% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
}

@keyframes 
blur-out { 0% {
 -webkit-filter: blur(4px);
 -moz-filter: blur(4px);
 -o-filter: blur(4px);
 -ms-filter: blur(4px);
 filter: blur(4px);
}
 100% {
 -webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
}