/**** v1.3.7 ****/
html {
background: #E8E8E8;
}
.commentTable {
word-wrap: break-word;
table-layout: fixed;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,700&subset=latin,latin-ext);
* {
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
text-rendering:optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
}
body {
margin: 0;
padding: 0;
background: #f3f3f3;
color: #666;
font-size: 13px;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
text-rendering:optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
}
a {
color: #4991c4;
text-decoration: none;
outline: 0;
border: 0;
cursor: pointer;
}
a.hover-line:hover {
text-decoration: underline;
}
img {
border: 0;
outline: 0;
vertical-align: middle;
}
input,textarea,select {
background: #ffffff;
background: linear-gradient(#d7d9da 1%, #ffffff 2%);
color: #5e6776;
text-overflow: ellipsis;
font-size: 13px;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
outline: none;
}
input[type="text"],input[type="password"] {
color: #5e6776;
padding: 5px;
border: 1px solid #e9eae9;
}
textarea {
background: #ffffff;
background: linear-gradient(#f2f4f5 1%,#ffffff 2%);
color: #5e6776;
padding: 5px;
border: 1px solid #e9eae9;
resize: none;
}
select {
color: #5e6776;
padding: 4px;
border: 1px solid #e6e7ea;
}
input[type="submit"],input[type="button"],button {
background: #f2f2f2;
background: linear-gradient(#f5f6f7 1%, #ffffff 2%, #ffffff 70%, #f5f6f7 100%);
color: #5e6776;
text-align: center;
font-size: 13px;
font-weight: 500;
padding: 4px 8px;
border: 1px solid #d3d6db;
cursor: pointer;
}
input[type="submit"].active, input[type="button"].active, button.active {
background: #95D97D;
color: white;
border-color: #95D97D;
}
input[type="submit"].delete, input[type="button"].delete, button.delete {
background: #FD6969;
color: white;
border-color: #FD6969;
}
button.delete a {
color: #fff;   
}
input[type="submit"].active:hover, input[type="button"].active:hover, button.active:hover {
background: #95D97D;
border-color: #95D97D;
}
input[type="submit"]:disabled,button:disabled {
background: #eaebec;
background: linear-gradient(#ebeced,#e7e8e9);
color: #7a7b7c;
border: 1px solid #b6b7b8;
}
input:disabled,textarea:disabled,select:disabled {
cursor: default;
}
.popover-profile-wrapper {
background: white;
}
.popover-profile-wrapper a {
color: #666;
font-size: 14px;
}
.popover-profile-wrapper a:hover {
text-decoration: underline;
}
.popover-profile-wrapper .popover-cover {
position: relative;
}
.popover-profile-wrapper .popover-cover:before {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
-webkit-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
-moz-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
}
.popover-profile-wrapper .popover-avatar {
position: absolute;
left: 10px;
bottom: -45px;
background: white;
padding: 4px;
box-shadow: -3px -3px 20px -10px #444;
}
.popover-profile-wrapper .popover-info {
font-size: 12px;
padding: 7px 8px 10px 94px;
}
.popover-name {
word-wrap: break-word;
}
.popover {
    position: absolute;
    top: -120px;
    left: 40px;
    z-index: 1060;
    display: none;
    max-width: 276px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    line-break: auto;
}

.popover>.arrow,.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover>.arrow {
    border-width: 11px
}

.popover>.arrow:after {
    content: "";
    border-width: 10px
}

.popover.top>.arrow {
    bottom: -11px;
    left: 29%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,.05);
    border-bottom-width: 0
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,.25);
    border-left-width: 0
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0
}

.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25)
}

.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0,0,0,.25)
}

.popover.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff
}


.header-wrapper {
position: fixed;
z-index: 500;
top: 0;
right: 0;
left: 0;
height: 45px;
background: #fff;
color: #666;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
box-shadow: 1px 0 3px rgba(0,0,0,.15);
}
.header-wrapper a {
color: #666;
}
.header-content {
max-width: 920px;
line-height: 45px;
margin: 0 auto;
padding: 0;
}
.header-site-logo {
height: 45px;
}
.header-site-logo a {
color: #666;
font-size: 12px;
text-transform: uppercase;
font-weight: 500;
padding-left: 2px;
}
.header-site-logo a:before {
position: absolute;
content: "\f292";
font-family: FontAwesome;
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
padding: 1px 7px;
margin: 16px 0;
overflow: hidden;
}
.header-site-logo span {
padding-left: 5px;
}
.header-site-logo i {
font-size: 28px;
color: #95D97D;
vertical-align: middle;
}
.header-live-search {
display: inline-block;
margin-left: 10px;
}
.header-live-search input {
width: 300px;
height: 25px;
background: #fff;
color: #999;
padding: 0px 10px;
border: 1px solid #F0F0F0;
border-radius: 0;
}

/*
.header-live-search input {
width: 225px;
height: 25px;
background: #fff;
color: #999;
padding: 0px 10px;
border: 1px solid #F0F0F0;
border-radius: 0;
}
*/
.header-user-info {
padding: 0 11px;
margin: 8px 0;
line-height: 17px;
}
.header-user-info .dropdown-overlay-wrap {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 449;
}
.header-user-info .header-user-link {
position: relative;
vertical-align: middle;
z-index: 450;
}
.header-user-name {
font-size: 13px;
font-weight: 700;
}
.header-user-avatar {
vertical-align: middle;
display: inline-block;
}
.header-user-info .dropdown-icon {
font-size: 17px;
margin: 0;
vertical-align: middle;
}
.header-nav {
position: relative;
padding: 0 11px;
margin: 13px 0;
line-height: 17px;
cursor: pointer;
}
.header-nav i {
font-size: 17px;
margin: 0;
vertical-align: middle;
}
.header-nav:hover i {
color: #444;
}
.header-nav .new-update-alert {
position: absolute;
top: -5px;
right: 0;
line-height: 16px;
background: #FFD492;
color: white;
font-size: 11px;
display: inline-block;
border-radius: 50%;
width: 16px;
height: 16px;
text-align: center;
}
.message-nav .new-update-alert {
background-color: #FB978E;
}
.followers-nav .new-update-alert {
background-color: #4BDB9A;
}
.header-join-wrapper {
display: block;
font-size: 14px;
}
.dropdown-search-container {
position: fixed;
z-index: 4909;
top: 45px;
right: 0;
left: 140px;
display: none;
}
.dropdown-search-wrapper {
max-width: 920px;
margin: 0 auto;
}
.dropdown-search-content {
max-width: 320px;
width: 100%;
background: white;
border-radius: 0 0 4px 4px;
box-shadow: -1px 2px 5px rgba(0,0,0,0.1);
}
.dropdown-search-content .search-header {
position: relative;
background: white;
color: #666;
text-align: center;
font-weight: 500;
padding: 8px 10px;
border-bottom: 1px solid #f0f0f0;
}
.dropdown-search-content .search-header .close-btn {
position: absolute;
top: 7px;
right: 7px;
}
.dropdown-search-content .search-header .close-btn a {
color:#666;
}
.dropdown-search-content .search-header .close-btn i {
color:#ddd;
}
.dropdown-search-content .search-list {
display: block;
background: white;
color: #898f9c;
font-size: 12px;
padding: 12px 18px;
border-bottom: 1px solid #f0f0f0;
cursor: pointer;
}
.dropdown-search-content .search-list:last-child {
border-bottom: none;  
}
.dropdown-search-content .search-list:hover {
background: #F5FEFF;
}
.search-list .name {
color: #666;
font-size: 13px;
font-weight: 500;
word-break: break-all;
}
.dropdown-search-content .page-link {
display: block;
background: white;
color: #888;
padding: 8px 10px;
border-top: 1px solid #f0f0f0;
border-radius: 0 0 3px 3px;
cursor: pointer;
}
.dropdown-search-content .page-link:hover {
background: #F5FEFF;
}
.dropdown-notification-container {
position: fixed;
z-index: 4909;
top: 50px;
right: 50px;
left: 0;
display: none;
}
.dropdown-notification-wrapper {
max-width: 920px;
margin: 0 auto;
}
.dropdown-notification-content {
position: relative;
max-width: 350px;
width: 100%;
background: white;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dropdown-notification-content .notification-header {
position: relative;
color: #666;
font-weight: 500;
text-align: center;
padding: 12px 10px;
background: #FFE7B9;
}
.dropdown-notification-content .notification-list-wrapper {
max-height: 400px;
overflow-y: auto;
}
.dropdown-notification-content .notification-header .close-btn {
position: absolute;
top: 11px;
right: 7px;
}
.dropdown-notification-content .notification-header .close-btn a {
color:#666;
}
.dropdown-notification-content .notification-header .close-btn i {
color:#E0B562;
}
.dropdown-notification-content .notification-list {
display: block;
background: white;
color: #666;
font-size: 12px;
padding: 12px 18px;
border-bottom: 1px solid #F0F0F0;
cursor: pointer;
}
.dropdown-notification-content .notification-list:last-child {
border-radius: 0 0 4px 4px;
border-bottom: none;
}
.dropdown-notification-content .notification-list:hover, .dropdown-notification-content .unread {
background: #FFFCF5;
}
.notification-list .name {
color: #444;
font-size: 13px;
font-weight: 500;
text-shadow: 0 0 0 white;
}
.notification-list .time {
color: #999;
font-size: 11px;
}
.dropdown-notification-content .page-link {
display: block;
background: white;
color: #898f9c;
padding: 8px 10px;
border-radius: 0 0 3px 3px;
cursor: pointer;
}
.dropdown-notification-content .page-link:hover {
background: #3c7fb4;
color: white;
}
.dropdown-more-container {
position: fixed;
z-index: 4909;
top: 45px;
right: 0;
left: 0;
display: none;
}
.dropdown-more-wrapper {
max-width: 920px;
margin: 0 auto;
}
.dropdown-more-content {
max-width: 200px;
width: 100%;
background: white;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dropdown-more-content .more-header {
position: relative;
color: #666;
text-align: center;
font-weight: 500;
padding: 8px 10px;
border-bottom: 1px solid #f0f0f0;
}
.dropdown-more-content .more-header .close-btn {
position: absolute;
top: 7px;
right: 7px;
}
.dropdown-more-content .more-header .close-btn a {
color:#666;
}
.dropdown-more-content .more-header .close-btn i {
color:#ddd;
}
.dropdown-more-content .more-list {
display: block;
background: white;
color: #666;
font-weight: 500;
padding: 15px 18px;
border-bottom: 1px solid #f0f0f0;
cursor: pointer;
}
.dropdown-more-content .more-list:hover {
background: #f9f9f9;
}
.dropdown-more-content .more-list i {
font-size: 14px;
margin-right: 5px;
}
.dropdown-more-content .more-list:last-child {
border-radius: 0 0 4px 4px;
border-bottom:none;
}
.page-wrapper {
max-width: 920px;
color: #4e5665;
margin: 45px auto 0;
}
.page-margin {
padding-top: 20px;
}
.online-wrapper {
position: fixed;
z-index: 500;
right: 30px;
bottom: 0;
width: 220px;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.online-header {
background: #f7f7f7;
color: #4e5665;
font-weight: 500;
padding: 10px 15px;
cursor: pointer;
}
.online-header .chat-icon {
color: #499e14;
font-size: 9px;
margin-right: 3px;
}
.online-content-toggler {
display: none;
}
.online-list {
max-height: 300px;
overflow: auto;
background: white;
}
.online-list .column {
background: white;
padding: 15px 10px;
border-bottom: 1px solid #e9eaeb;
}
.online-list .column .pos-rtv {
position: relative;
}
.online-list .column a.block {
display: block;
color: #4e5665;
}
.online-list .online-icon {
color: #adaeaf;
font-size: 8px;
margin-left: 3px;
position: absolute;
right: 5px;
bottom: -3px;
background: #fff;
padding: 2px;
border-radius: 50%;
}
.online-list .active {
color: #499e14;
}
.online-list .user-avatar {
margin-right: 5px;
}
.online-search {
background: white;
padding: 5px 10px;
}
.online-search input[type="text"] {
width: 100%;
background: white;
padding: 2px 0;
border: 0;
border-radius: 0;
}
.chat-wrapper {
position: fixed;
z-index: 500;
right: 245px;
bottom: 0;
width: 250px;
margin-right: 20px;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.chat-wrapper a {
color: #343434;
}
.chat-wrapper a:hover {
text-decoration: underline;
}
.chat-header {
background: #fff;
color: #666;
font-size: 13px;
font-weight: 500;
padding: 10px 12px;
cursor: pointer;
}
.chat-header .online-icon {
color: #e5e7e9;
font-size: 9px;
margin-right: 3px;
}
.chat-header .close-icon {
color: #e5e7e9;
}
.chat-header .active {
color: #63d81b;
}
.chat-messages {
height: 250px;
overflow: auto;
background: #f7f7f7;
padding: 0 10px 0 5px;
}
.chat-text {
position: relative;
display: block;
color: #aaaaaa;
font-size: 12px;
padding: 5px 0;
}
.chat-text .user-avatar {
border-radius: 2px;
}
.chat-text .chat-time, .chat-text i {
position: relative;
width: 100%;
padding: 10px 0;
font-size: 11px;
color: #c9c9c9;
}
.text-wrapper .marker-out {
position: absolute;
top: 4px;
width: 0;
height: 0;
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
}
.align-left .marker-out {
left: -8px;
border-right: 8px solid #f0f0f0;
}
.align-right .marker-out {
right: -8px;
border-left: 8px solid #FFECCF;
}
.text-wrapper .marker-in {
position: absolute;
top: -6px;
width: 0;
height: 0;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
}
.align-left .marker-in {
left: 2px;
border-right: 7px solid #f0f0f0;
}
.align-right .marker-in {
right: 2px;
border-left: 7px solid #FFECCF;
}
.chat-text .text-wrapper {
position: relative;
vertical-align: top;
min-height: 15px;
background: #f0f0f0;
color: #4e5665;
text-align: left;
padding: 4px 5px 5px;
border: 1px solid #f0f0f0;
word-wrap: break-word;
text-overflow: ellipsis;
}
.align-left .text-wrapper {
max-width: 160px;
margin-left: 10px;
}
.align-right .text-wrapper {
max-width: 160px;
margin-right: 10px;
background: #FFECCF;
border-color: #FFECCF;
}
.chat-text .photo-wrapper {
padding-top: 5px;
}
.chat-textarea {
position: relative;
background: white;
margin-bottom: -5px;
padding: 5px 10px;
}
.chat-textarea textarea {
width: 92%;
height: 23px;
background: white;
padding: 5px 0 0 0;
border: 0;
border-radius: 0;
overflow: hidden;
}
.chat-textarea .advanced-options {
position: absolute;
top: 3px;
right: 5px;
font-size: 15px;
}
.chat-emoticons-wrapper {
display: none;
position: absolute;
top: -93px;
right: 3px;
width: 242px;
height: 91px;   
background: white;
padding: 0;
overflow: scroll;
}
.chat-emoticons-wrapper img {
display: inline-block;
padding: 6px 8px;
cursor: pointer;
}
.window-background {
position: fixed;
z-index: 1000;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0.8;
background: #0b0b0b;
overflow: hidden;
}
.window-wrapper {
position: fixed;
z-index: 1010;
top: 0;
left: 8px;
right: 8px;
max-width: 520px;
overflow: hidden;
background: white;
margin: 15px auto 0;
border-radius: 3px;
box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
}
.window-header-wrapper {
position: relative;
background: #f9faf9;
padding: 10px;
border-bottom: 1px solid #e5e6e7;
border-radius: 3px 3px 0 0;
}
.window-content-wrapper {
max-height: 392px;
overflow: auto;
border-radius: 0 0 3px 3px;
}
.button-content-wrapper {
padding: 8px;
}
.window-list-wrapper {
padding: 8px;
border-bottom: 1px solid #e9eaeb;
}
.window-list-wrapper .avatar {
border-radius: 3px;
vertical-align: middle;
}
.window-list-wrapper .name {
color: #4e5665;
font-weight: 500;
}
.window-list-wrapper .name:hover {
color: #4991c4;
text-decoration: underline;
}
.window-btn a {
display: inline-block;
background: #f9faf9;
background: linear-gradient(#f5f6f7 1%, #ffffff 2%, #ffffff 70%, #f5f6f7 100%);
color: #4e5665;
text-align: center;
font-weight: 500;
margin: 0;
padding: 3px 10px;
border: 1px solid #d4d5d6;
border-radius: 3px;
cursor: pointer;
}
.window-btn a i {
margin-right: 3px;
}
.window-btn a.active {
background: #3c7fb4;
background: linear-gradient(#4a8ac2, #2e74a6);
color: white;
border-color: #25618c;
}
.no-content-wrapper {
color: #898f9c;
padding: 10px;
}
span.window-close-btn {
position: absolute;
top: 10px;
right: 10px;
color: #898f9c;
cursor: pointer;
}
.window-close-btn:hover {
color: #4e5665;
}
.short-profile-wrapper {
background: white;
margin-bottom: 10px;
}
.short-profile-wrapper a {
color: #666;
font-size: 13px;
}
.short-profile-wrapper a:hover {
text-decoration: underline;
}
.short-profile-wrapper .short-cover {
position: relative;
}
.short-profile-wrapper .short-cover:before {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
-webkit-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
-moz-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
}
.short-profile-wrapper .short-avatar {
position: absolute;
left: 10px;
bottom: -45px;
background: white;
padding: 4px;
box-shadow: -3px -3px 20px -10px #444;
}
.short-profile-wrapper .short-info {
font-size: 12px;
padding: 1px 0px 0px 94px;
}
.short-profile-wrapper .short-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.short-profile-wrapper .short-info li {
    color: #999;
    font-size: 12px;
    padding: 7px 0;
    display: inline-block;
}
.short-name {
word-wrap: break-word;
}
.story-filters-wrapper {
background: white;
color: #666;
margin-bottom: 10px;
}
.story-filters-wrapper .filter-header-wrapper {
background: #fff;
color: #666;
font-weight: 500;
padding: 15px 10px;
border-bottom: 1px solid #f0f0f0;
}
.story-filters-wrapper .filter {
background: white;
color: #4e5665;
padding: 15px 20px;
border-bottom: 1px solid #f0f0f0;
cursor: pointer;
}
.story-filters-wrapper .filter:last-child {
border-bottom: none;
}
.story-filters-wrapper .filter:hover {
background: #f7f7f7;
color: #4e5665;
}
.story-filters-wrapper .filter-active {
font-weight: 500;
}
.story-filters-wrapper .filter i {
width: 22px;
display: inline-block;
font-size: 14px;
}
.filter .icon-cubes {
color: #8BD08B;
}
.filter .icon-list {
color: #666666;
}
.filter .icon-image {
color: #D4AAEC;
}
.filter .icon-film {
color: #FF8181;
}
.filter .icon-music {
color: #82D0EF;
}
.filter .icon-location-arrow {
color: #F5DB78;
}
.story-publisher-box {
width: 100%;
color: #666;
margin-bottom: 10px;
background: #fff;
}
.story-publisher-box .inputs-container-textarea {
position: relative;
background: #F7F7F7;
line-height: 0;
padding: 12px 15px;
}
.story-publisher-box .inputs-container-textarea .album-option {
position: absolute;
right: 3px;
bottom: 8px;
color: #888;
}
.story-publisher-box textarea {   
width: 100%;
height: 25px;
color: #888;
background: transparent;
border: 0;
padding: 0;
padding-top: 10px;
resize: none;
text-overflow: clip;   
}
.story-publisher-box .inputs-container {
color: #888;
background: #EDEDED;
}
.story-publisher-box .input-wrapper {
position: relative;
color: #666;
display: none;
overflow: hidden;
}
.story-publisher-box .input-wrapper i {
width: 27px;
display: inline-block;
text-align: center;
}
.story-publisher-box .input-wrapper i.icon {
border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.story-publisher-box .input-wrapper input {
width: 100%;
color: #888;
background: transparent;
display: inline-block;
padding: 5px;
border: 0;
}
.story-publisher-box .input-wrapper .input-result-wrapper {
max-height: 300px;
display: none;
background: white;
color: #4e5665;
overflow: auto;
}
.input-result-wrapper .loading-wrapper {
color: #838483;
padding: 7px;
}
.story-publisher-box .input-wrapper .remove-btn {
position: absolute;
top: 5px;
right: 4px;
color: rgba(0, 0, 0, 0.18);
font-size: 12px;
cursor: pointer;
}
.story-publisher-box .photo-wrapper .photos-container {
display: block;
color: #898f9c;
padding: 5px 10px;
}
.story-publisher-box .album-option {
margin-right: 5px;
}
.story-publisher-box .result-container {
display: inline-block;
}
.story-publisher-box .result-container .title {
display: inline-block;
color: #fff;
font-size: 12px;
font-weight: 500;
padding: 7px 5px;
}
.story-publisher-box .result-container .icon-ok {
color: #94ce8c;
}
.story-publisher-box .api-data-wrapper {
padding: 5px;
border-bottom: 1px solid #e9eaeb;
cursor: pointer;
}
.story-publisher-box .api-data-wrapper img.thumbnail {
border-radius: 3px;
}
.story-publisher-box .api-data-wrapper .name {
font-weight: 500;
}
.story-publisher-box .api-data-wrapper .info {
color: #898f9c;
}
.story-publisher-box .soundcloud-api-data img.thumbnail {
background: url(../images/music-32-icon.png);
}
.story-publisher-box .more-wrapper {
color: #666;
background: #fff;
padding: 7px;
}
.story-publisher-box .more-wrapper i {
margin: 0;
padding: 0;
}
.story-publisher-box .more-wrapper .privacy-option i {
display: inline-block;
padding: 8px 8px;
margin-right: 4px;
width: 14px;
height: 14px;
color: #666;
font-size: 14px;
border-radius: 50%;
text-align: center;
cursor: pointer;
}
.story-publisher-box .more-wrapper .option {
display: inline-block;
padding: 8px 8px;
margin-right: 4px;
width: 14px;
height: 14px;
font-size: 14px;
border-radius: 50%;
text-align: center;
line-height: 0;
cursor: pointer;
}
.story-publisher-box .more-wrapper .option:hover {
background: #f2f2f2;
}
.story-publisher-box .more-wrapper .privacy-option i:hover {
background: #f2f2f2;    
}
.story-publisher-box .more-wrapper .pre-loader {
display: none;
vertical-align: middle;
margin-right: 5px;
}
.story-wrapper {
width: 100%;
position: relative;
background: white;
color: #777;
margin-bottom: 10px;
}
.story-wrapper .activity-text {
padding: 15px;
}
.story-wrapper .publisher-content-wrapper {
position: relative;
padding: 5px 20px 0;
}
.story-wrapper .publisher-wrapper {
position: relative;
color: #666;
padding: 10px 0;
}
.story-wrapper .publisher-wrapper .name {
color: #1bbae1;
font-weight: 500;
word-break: break-all;
}
.story-wrapper .publisher-wrapper .usname {
color: #53d192;
}
.story-wrapper .publisher-wrapper .name:hover {
color: #4991c4;
text-decoration: underline;
}
.story-wrapper .publisher-wrapper .recipient-indicator-icon {
font-size: 10px;
margin: 0 3px;
}
.story-wrapper .text-wrapper a {
color: #4991c4;
}
.story-wrapper .other-data {
color: #999;
font-size: 12px;
}
.story-wrapper .location-wrapper i {
margin-right: 2px;
}
.story-wrapper .setting-buttons {
color: #aaa;
font-weight: 500;
font-size: 12px;
}
.story-wrapper .setting-buttons span:hover {
color: #4e5665;
}
.story-wrapper .dropdown-setting-container {
position: absolute;
right: 0;
left: auto;
top: 50px;
max-width: 250px;
width: 100%;
background: white;
margin: 0;
padding: 1px;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #f0f0f0;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
line-break: auto;
list-style-type: none;
z-index: 100;
}
.story-wrapper .dropdown-setting-container li {
border-bottom: 1px solid #e0e0e0;
text-align: left;
}
.story-wrapper .dropdown-setting-container li:last-child {
border-bottom: none;
}
.story-wrapper .dropdown-setting-container span {
display: block;
padding: 12px 18px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}
.story-wrapper .dropdown-setting-container .action {
font-size: 13px;
line-height: 18px;
font-weight: 500;
}
.story-wrapper .dropdown-setting-container .action-desc {
padding-left: 18px;
color: #999;
font-size: 11px;
line-height: 16px;
}
.story-wrapper .options-wrapper {
color: #666;
font-weight: 500;
padding: 10px 0;
}
.story-wrapper .options-wrapper .time-wrapper {
font-size: 12px;
color: #999;
}
.story-wrapper .opt {
cursor: pointer;
}
.story-wrapper .opt-active {
color: #51C2EF;
cursor: pointer;
}
.story-wrapper .story-like-btn.opt-active {
color: #40bbe4;    
}
.story-wrapper .story-like-btn.opt:hover {
color: #a1d3e5;
}
.story-wrapper .story-share-btn.opt-active {
color: #FD7A79;    
}
.story-wrapper .story-share-btn.opt:hover {
color: #f17979;
}
.story-wrapper .text-wrapper {
color: #777;
padding: 8px 0;
margin-bottom: 1px;
word-wrap: break-word;
}
.story-wrapper .text-wrapper a:hover {
text-decoration: underline;
}
.story-wrapper .photos-wrapper img {
cursor: pointer;
}
.story-wrapper .photos-wrapper img.width-3 {
width: 33.33%;
}
.story-wrapper .photos-wrapper img.width-2 {
width: 50%;
}
.story-wrapper .photos-wrapper img.width-1 {
width: 100%;
}
.story-wrapper .soundcloud-wrapper,.story-wrapper .youtube-wrapper,.story-wrapper .photos-wrapper, .story-wrapper .google-map-viewer-wrapper{
background: #fff;
border-width: 0 0 1px;
border-color: #f0f0f0;
border-style: solid;
}
.input-wrapper.emoticons-wrapper {
background: #EFF5F4;
}
.pinners-wrapper {
    background: #F7F7F7;
    color: #888;
    padding: 8px;
}
.input-wrapper.soundcloud-wrapper {
background: #a1d3e5;
color: #fff;
}
.story-publisher-box input.soundcloud-input:-moz-placeholder {
color: #5490A5;
}
.story-publisher-box input.soundcloud-input::-webkit-input-placeholder {
color: #5490A5;
}
.story-publisher-box input.soundcloud-input:-ms-input-placeholder {
color: #5490A5;
}
.input-wrapper.youtube-wrapper {
background: #f17979;
color: #fff;
}
.story-publisher-box input.youtube-input:-moz-placeholder {
color: #B14747;
}
.story-publisher-box input.youtube-input::-webkit-input-placeholder {
color: #B14747;
}
.story-publisher-box input.youtube-input:-ms-input-placeholder {
color: #B14747;
}
.input-wrapper.google-map-wrapper {
background: #ffd28a;
color: #fff;
}
.story-publisher-box input.gmap-input:-moz-placeholder {
color: #CC9945;
}
.story-publisher-box input.gmap-input::-webkit-input-placeholder {
 color: #CC9945;
}
.story-publisher-box input.gmap-input:-ms-input-placeholder {
color: #CC9945;
}
.youtube-wrapper iframe {
margin-bottom: -3px;
}
.story-wrapper .soundcloud-wrapper {
position: relative;
overflow: hidden;
}
.story-wrapper .soundcloud-wrapper iframe {
margin: -2px 0px -39px -2px;
}
.activity-wrapper {
background: #f2f2f2;
color: #898f9c;
font-weight: 500;
padding: 10px;
border-top: 1px solid #e7e8e9;
border-radius: 0 0 3px 3px;
}
.activity-btn {
cursor: pointer;
}
.activity-btn:hover {
color: #888;
}
.activity-wrapper .activity-btn i {
margin-left: 2px;
}
.story-wrapper .via-content-wrapper {
padding: 12px 24px 10px;
background: #f7f7f7;
}
.story-wrapper .via-wrapper {
color: #999;
}
.story-wrapper .via-wrapper i {
color: #FD7A79;
}
.story-wrapper .via-name {
color: #666;
font-size: 14px;
font-weight: 500;
}
.story-wrapper .via-name:hover {
color: #4991c4;
text-decoration: underline;
}
.comments-container {
position: relative;
background: #fff;
}
.view-more-wrapper {
font-weight: 500;
padding: 8px 10px;
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
cursor: pointer;
}
.view-more-wrapper:hover {
text-decoration: underline;
}
.comment-wrapper {
color: #888;
background: #f9f9f9;    
padding: 12px 14px;
}
.comment-wrapper:nth-child(even) { 
background: #f7f7f7; 
}
.comment-wrapper:nth-child(odd) { 
background: #f9f9f9;
}
.comment-publisher-box {
background: #FFF !important;
border: 0;
border-top: 1px solid #eee;
margin: 0;
padding: 4px 8px;
}
.comment-wrapper .comment-content {
position: relative;
padding-right: 25px;
margin-bottom: 5px;
word-wrap: break-word;
word-break: break-all;
}
.comment-wrapper .name {
color: #666;
font-weight: 500;
word-break: break-all;
}
.comment-wrapper .name:hover {
color: #4991c4;
text-decoration: underline;
}
.comment-wrapper .comment-text {
margin-left: 1px;
word-wrap: break-word;
}
.comment-wrapper .setting-buttons {
position: absolute;
top: 0;
right: 0;
color: #d0d0d0;
}
.comment-wrapper .setting-buttons span:hover {
color: #bbb;
}
.comment-wrapper .setting-buttons i{
font-size: 10px;    
}
.comment-wrapper .other-data {
color: #666;
margin-top: 5px;
font-weight: 500;
}
.comment-wrapper .time {
font-size: 11px;
color: #999;
}
.comment-wrapper .opt, .comment-wrapper .opt-active {
cursor: pointer;
}
.comment-wrapper .opt:hover, .comment-wrapper .opt-active {
color: #4991c4;
}
.comment-wrapper .comment-textarea {
position: relative;
background: transparent;
padding: 4px;
}
.comment-wrapper .comment-textarea textarea {
width: 100%;
height: 15px;
background: transparent;
color: #888;
font-size: 13px;
margin: 3px 0px 0px;
padding: 0;
border: 0;
border-radius: 0;
overflow: hidden;
}
.comment-wrapper .comment-textarea .progress-icon {
position: absolute;
top: 8px;
right: 5px;
}
.stories-container .load-btn {
display: inline-block;
background: #fff;
text-align: center;
font-weight: 500;
margin-bottom: 24px;
padding: 7px 10px;
cursor: pointer;
}
.stories-container .load-btn i {
margin-right: 2px;
}
.pre-loader {
text-align: center;
font-size: 20px;
font-weight: 500;
margin: 50px 0;
}
.message-container {
background: white;
color: #666;
margin-bottom: 10px;
padding-bottom: 2px;
}
.message-container .container-header {
background: #fff;
color: #666;
font-weight: 500;
padding: 15px;
}
.message-container .text-messages-container {
height: 630px;
overflow-x: hidden;
overflow-y: auto;
word-break: break-all;
background: #f7f7f7;
}
.message-container .view-more-wrapper {
color: #666;
padding: 10px;
background: #E1F4FF;
}
.message-container .text-message-wrapper {
display: block;
padding: 15px 25px;
}
.message-container .no-wrapper {
color: #898f9c;
margin-top: 12px;
}
.text-message-wrapper .message-content {
margin: 0 0 0 6px;
}
.text-message-wrapper .publisher-name {
display: block;
color: #4e5665;
font-weight: 500;
word-break: break-all;
}


.text-message-wrapper .message-container-burb {
    position: relative;
    min-height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.text-message-wrapper .message-container-burb .ajax-time, .text-message-wrapper .message-container-burb i {
    font-size: 11px;
    color: #bfbfbf;
}
.text-message-wrapper .message-content-burb {
    position: relative;
    max-width: 220px;
    background-color: #556b8d;
    padding: 0 10px 10px;
}
.text-message-wrapper .message-avatar {
position: relative;
}
.text-message-wrapper .message-text-burb {
 text-align: left;
}
.arrow.right {
  top: 36%;
  right: 71px;
  margin-top: -9px;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-width: 0;
}
.arrow.left {
  top: 33%;
  left: 71px;
  margin-top: -9px;
  border-right-color: rgba(0, 0, 0, 0.1);
  border-left-width: 0;
}
.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow {
  z-index: 10;
  border-width: 9px;
}

.msg-rht .message-content-burb {
    background: #F0F0F0;
}

.msg-rht .arrow {
  border-left-color: #F0F0F0;
}

.msg-lft .message-content-burb {
    background: #FFECCF;
}

.msg-lft .arrow {
  border-right-color: #FFECCF;
}


.text-message-wrapper .message-text {
color: #666;
padding: 10px 0 0;
}

.text-message-wrapper .photo-wrapper {
padding: 10px 0 0;
}
.text-message-wrapper .photo-wrapper img {
width: 100%;
height: auto;
}
.text-message-wrapper .time {
color: #888;
font-size: 11px;
text-align: right;
}
.message-container .textarea-container {
position: relative;
margin: 0 0 -5px 0;
padding: 10px;
}
.textarea-container .options-wrapper {
position: absolute;
top: 27.5%;
right: 7px;
color: #898f9c;
font-size: 14px;
}
.textarea-container .options-wrapper .opt {
margin-left: 4px;
}
.message-container .textarea-container textarea {
width: 100%;
height: 22px;
background: white;
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
}
.message-recipient-wrapper {
    background: white;
    color: #666;
    margin-bottom: 10px;
}
.message-recipient-wrapper .wrapper-header {
background: #fff;
    color: #666;
    text-align: center;
    font-weight: 500;
    padding: 10px 8px;
    border-bottom: 1px solid #f0f0f0;
}
.message-recipient-wrapper .wrapper-header input[type="text"] {
width: 91%;
background: inherit;
color: #898f9c;
margin: 0;
padding: 0;
border: 0;
}
.message-recipient-wrapper .recipient-list-wrapper {
position: relative;
max-height: 700px;
overflow-y: scroll;
}
.message-recipient-wrapper .recipient-list {
position: relative;
background: white;
padding: 8px 10px;
border: 0px;
border-bottom: 1px solid #f0f0f0;
}
.message-recipient-wrapper .recipient-list:last-child {
border-bottom: none;
}
.message-recipient-wrapper .recipient-list a.block {
display: block;
color: #4e5665;
}
.message-recipient-wrapper .recipient-list:hover {
background: #f7f7f7;
}
.message-recipient-wrapper .online-icon {
position: absolute;
top: 50px;
width: 8px;
height: 8px;
padding: 0;
margin: 0;
color: #bfbfbf;
border-width: 2px;
border-style: solid;
border-color: #fff;
background: #bfbfbf;
border-radius: 100%;
left: 53px;
font-size: 8px;
}
.message-recipient-wrapper .active {
color: #53d192;
border-color: #fff;
background: #53d192;
}
.message-recipient-wrapper .update-alert {
padding: 0;
    margin: 0;
    text-shadow: none;
    line-height: 16px;
    background: #FB978E;
    color: white;
    font-size: 11px;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    box-shadow: none;
}
.timeline-header-wrapper {
background: white;
margin: 0 auto 15px;
padding: 0;
}
.avatar-content img {
width: 174px;
}
.cover-container {
position: relative;
}
.cover-wrapper {
position: relative;
width: 100%;
}
.cover-wrapper:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: '';
-webkit-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
-moz-box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
box-shadow: inset 0px -99px 70px -120px rgba(0, 0, 0, 0.36);
}
.cover-wrapper img {
width: 100%;
}
.cover-wrapper .overlay {
background: none;
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
background: url(../images/pattern1.png);
left: 0;
top: 0;
}
.cover-resize-wrapper {
position: relative;
width: 100%;
height: 276px;
overflow: hidden;
display: none;
}
.cover-resize-wrapper img {
position: absolute;
width: 100%;
}
.cover-resize-wrapper .drag-div {
position: absolute;
top: 0;
width: 100%;
background: rgba(0, 0, 0, 0.15);
color: white;
font-weight: 500;
padding: 7px;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.cover-progress {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: none;
background: rgba(0, 0, 0, 0.6);
color: white;
text-align: center;
}
.timeline-header-wrapper .avatar-wrapper {
    position: absolute;
    left: 15px;
    bottom: -10px;
    display: inline;
    box-shadow: -3px -3px 20px -10px #444;
}

/*
OLD
.timeline-header-wrapper .avatar-wrapper {
position: absolute;
left: 15px;
bottom: -10px;
display: inline;
box-shadow: -3px -3px 20px -10px #444;
}
}
*/


.timeline-header-wrapper .avatar-wrapper img {
    width: 155px;
    height: auto;
    background: white;
    padding: 8px;
}
/*
OLD
.timeline-header-wrapper .avatar-wrapper img {
    width: 155px;
    height: auto;
    background: white;
    padding: 8px;
}
*/
.timeline-header-wrapper .avatar-change-wrapper {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
visibility: hidden;
opacity: 0;
color: white;
text-align: center;
font-size: 23px;
padding-top: 65px;
transition: all 0.25s;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
-o-transition: all 0.25s;
}
.timeline-header-wrapper .avatar-change-wrapper i {
color: white;
cursor: pointer;
text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
transition: all 0.25s;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
-o-transition: all 0.25s;
}
.timeline-header-wrapper .avatar-wrapper:hover .avatar-change-wrapper {
visibility: visible;
opacity: 1;
}
.timeline-header-wrapper .avatar-progress-wrapper {
position: absolute;
top: 8px;
right: 8px;
bottom: 8px;
left: 8px;
display: none;
background: rgba(0, 0, 0, 0.45);
color: white;
text-align: center;
padding: 74px 0 0;
}
.timeline-buttons-fm {
position: absolute;
right: 15px;
bottom: 15px;
}
.timeline-buttons-fm a {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 13px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
background-color: #fff;
border-color: #fff;
color: #3a3a3a;
border: 1px solid transparent;
}
.timeline-buttons-fm .btn-mns{
background-color: #fff;
border-color: #fff;
color: #3a3a3a;
}
.timeline-buttons-fm .btn-addf {
background-color: #95D97D;
border-color: #95D97D;
color: #FFFFFF;   
}

.timeline-statistics-wrapper {

}

.group-header-wrapper .timeline-statistics-wrapper {
padding-left: 0;
}
.timeline-statistics-wrapper .statistic {
background: white;
font-weight: 500;
padding: 10px 15px;
cursor: pointer;
}
.timeline-statistics-wrapper .statistic a {
display: block;
color: #4e5665;
}
.timeline-statistics-wrapper .statistic span {
display: block;
font-size: 15px;
font-weight: 600;
}
.timeline-statistics-wrapper .statistic small {
font-weight: normal;
}
.timeline-statistics-wrapper .item-name {
    font-size: 12px;
    color: #999;
    padding-left: 35px;
}
/*
.timeline-statistics-wrapper .item-name {
font-size: 12px;
color: #999;
padding-left: 35px;
}
*/


.timeline-statistics-wrapper .item-name a {
    font-size: 16px;
}
/*
.timeline-statistics-wrapper .item-name a {
    font-size: 16px;
}
*/
.timeline-statistics-wrapper .item-story {
background: #F7F7F7;
}
.timeline-statistics-wrapper .item-story span {
color: #4DC7EC;      
}
.timeline-statistics-wrapper .pge.item-story span {
color: #FBD33C;
}
.timeline-statistics-wrapper .grp.item-story span {
color: #95D97D;
}
.timeline-statistics-wrapper .item-request {
background: #7ACCBE;   
}
.timeline-statistics-wrapper .item-request a{
color: #fff;   
}
.timeline-statistics-wrapper .item-friends {
background: #F7F7F7;
border-right: 1px solid #E7E7E7;
}
.timeline-statistics-wrapper .item-friends span {
color: #95D97D;
}
.timeline-statistics-wrapper .item-page {
background: #F7F7F7;
border-right: 1px solid #E7E7E7;
}
.timeline-statistics-wrapper .item-page span {
color: #4DC7EC;
}
.timeline-statistics-wrapper .item-groups {
background: #F7F7F7;
}
.timeline-statistics-wrapper .item-groups span {
color: #a979d1;
}
.timeline-statistics-wrapper .items-addm {
background: #53D192;
}
.timeline-statistics-wrapper .items-addm a{
color: #fff;
}
i.icon-flag.item-mpge {
color: #FBD33C;
}
i.icon-users.item-mgrp {
color: #53d192;
}
.timeline-buttons {
margin-bottom: 5px;
}
.timeline-buttons a {
     display: block;
     background: #fff;
     color: #4e5665;
     text-align: center;
     font-weight: 500;
     margin: 0 0 5px 0;
     padding: 7px 0;
     cursor: pointer;
 }

/*
.timeline-buttons a {
display: block;
width: 96%;
background: #fff;
color: #4e5665;
text-align: center;
font-weight: 500;
margin: 0 0 5px 0;
padding: 7px 0;
cursor: pointer;
}
*/
.timeline-buttons a i {
margin-right: 3px;
}
.timeline-buttons .active {
background: #3c7fb4;
background: linear-gradient(#4a8ac2, #2e74a6);
color: white;
border-color: #25618c;
}

.timeline-buttons .inactive {
    background: #FD6969;
    background: linear-gradient(#FD6969, #FD6969);
    color: white;
    border-color: #FD6969;
}
.timeline-buttons .btn-jon-act {
background: #a979d1;
}
.timeline-buttons .btn-lke-act {
background: #4DC7EC;
}
.cover-resize-buttons {
display: none;
}
.timeline-sidebar {
background: #fff;
color: #4e5665;
margin-bottom: 10px;
}
.timeline-sidebar .sidebar-div {
color: #666;
padding: 15px;
border-bottom: 1px solid #f0f0f0;
}
.timeline-sidebar .sidebar-div a {
color: #4e5665;
}
.timeline-370 {
min-height: 370px;
}
.page-settings i {
width: 16px;
display: inline-block !important;
}
.list-wrapper {
background: white;
color: #4e5665;
margin-bottom: 10px;
}
.list-wrapper a {
color: #1CBAE1;
}
.list-wrapper a.active {
color: #4991c4;
}
.list-wrapper .list-header {
background: #fff;
color: #666;
font-weight: 500;
padding: 15px 10px;
border-bottom: 1px solid #f0f0f0;
}
.list-wrapper .list-header input[type="text"] {
width: 93%;
background: inherit;
color: #898f9c;
margin: 0;
padding: 0;
border: 0;
}
.list-wrapper .list-popup-alert {
background: #eff7b5;
color: #4e5665;
text-align: center;
font-weight: 500;
padding: 8px;
border-bottom: 1px solid #dfeb8a;
border-radius: 3px 3px 0 0;
}
.list-wrapper .list-column {
display: block;
background: white;
color: #666;
padding: 15px;
border-bottom: 1px solid #f0f0f0;
}
.trending-wrapper .trending-content a {
color: #a979d1;    
}
.list-wrapper .list-column:last-child {
border-bottom: none;  
}
.list-wrapper .new-column,.list-wrapper .column-hover:hover {
background: #f7f7f7;
}
.list-column .info {
color: #898f9c;
font-size: 12px;
}
.list-column .column-btn {
font-size: 12px;
font-weight: 500;
}
.list-column .column-btn a {
background: #7accbe;
color: #fff;
text-align: center;
font-weight: 500;
margin: 0 0 5px 5px;
padding: 4px 8px;
border: 1px solid #7accbe;
cursor: pointer;
}
.list-column .column-btn a i {
margin-right: 3px;
}
.list-column .column-btn .active {
background: #3c7fb4;
background: linear-gradient(#4a8ac2, #2e74a6);
color: white;
border-color: #25618c;
}
.list-column a.btn-join, a.btn-join {
background: #a979d1;
border-color: #a979d1;
color: #fff;
}
.list-column a.btn-addf, a.btn-addf {
background-color: #95D97D;
border-color: #95D97D;
color: #fff;
}
/*added*/
.list-column a.btn-addr, a.btn-addr {
    background-color: #E88484;
    border-color: #E88484;
    color: #fff;
}
.list-column a.active.btn-frds, a.btn-frds {
background: #95D97D;
border-color: #95D97D;
color: #fff;
}
.list-column a.btn-rqst, a.btn-rqst {
background: #fff;
color: #666;
border-color: #cfcfcf;
}
.list-column a.btn-lke, a.btn-lke {
background: #4DC7EC;
border-color: #4DC7EC;
color: #fff;
}
.list-column a.active.btn-jon-act {
background: #a979d1;
border-color: #a979d1;
}
.list-column a.active.btn-lke-act {
background: #4DC7EC;
border-color: #4DC7EC;
}
.form-container {
background: white;
color: #666;
margin-bottom: 10px;
padding-bottom: 2px;
}
.form-container .form-header {
background: #fff;
font-weight: 500;
padding: 15px;
border-bottom: 1px solid #f0f0f0;
}
.form-container .success-message {
font-weight: 500;
padding: 8px;
    background: #95D97D;
    color: white;
    border-color: #95D97D;
}
.form-container .fail-message {
    color: #666;
    font-weight: 500;
    padding: 8px;
    background: #FD6969;
    color: white;
    border-color: #FD6969;
}
.form-container .form-input-wrapper {
display: block;
padding: 15px 25px;
border-bottom: 1px solid #f0f0f0;
}
.form-container .form-input-wrapper:last-child {
border-bottom: none;
}
.form-input-wrapper label {
margin: 5px 5px 5px 0;
}
.form-input-wrapper label i {
color: #aaaaaa;
font-size: 13px;
}
.form-input-wrapper small {
color: #898f9c;
font-size: 13px;
margin: 1px 0 0 24px;
}
.form-container input {
margin: 0;
}
.form-container input,
.form-container textarea,
.form-container select {
width: 96%;
}
.form-container input[type="radio"], .form-container input[type="checkbox"] {
width: auto;
}
.footer-wrapper {
padding: 15px 0;
background: #e8e8e8;
}
.footer-wrapper a:hover {
text-decoration: underline;
}
.footer-content {
max-width: 920px;
margin: 0 auto;
padding: 0;
}
.footer-line {
margin: 10px 0;
}

.empty-wrapper {
background: white;
color: #6b6b6b;
margin: 0 0 10px;
padding: 10px;
border: 1px solid #d4d5d6;
border-radius: 3px;
}
.no-wrapper {
color: #898f9c;
padding: 10px;
}
.hidden {
display: none;
}
.cursor-hand {
cursor: pointer;
}
.float-left {
float: left;
}
.float-right {
float: right;
}
.float-clear {
clear: both;
}
.span10 {
width: 10%;
}
.span15 {
width: 15%;
}
.span20 {
width: 20%;
}
.span25 {
width: 25%;
}
.span30 {
width: 30%;
}
.span35 {
width: 35%;
}
.span36 {
width: 36%;
}
.span40 {
width: 40%;
}
.span45 {
width: 40%;
}
.span50 {
width: 50%;
}
.span55 {
width: 55%;
}
.span60 {
width: 60%;
}
.span65 {
width: 65%;
}
.span70 {
width: 70%;
}
.span75 {
width: 75%;
}
.span80 {
width: 80%;
}
.span85 {
width: 85%;
}
.span95 {
width: 95%;
}
.span100 {
width: 100%;
}
.span49 {
width: 49%;
}
.span59 {
width: 59%;
}
.span63 {
width: 63%;
}
.span69 {
width: 69%;
}
.span74 {
width: 74%;
}
.space1 {
margin: 0 1px;
}
.space2 {
margin: 0 2px;
}
.space3 {
margin: 0 3px;
}
.space4 {
margin: 0 4px;
}
.space5 {
margin: 0 5px;
}
.space6 {
margin: 0 6px;
}
.bold-500 {
font-weight: 500;
}
.update-alert {
background: #ee2a33;
background: linear-gradient(#f93b44, #dd0f19);
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
font-size: 11px;
font-weight: 500;
margin-left: 4px;
padding: 1px 3px;
border-radius: 2px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
button i {
margin-right: 3px;
}

@media only screen and (max-device-width: 960px), only screen and (max-width: 960px) {
.page-wrapper {
padding: 0 8px;
}
*[class^="span"],*[class*=" span"] {
width: 100%;
}
.desktop-only {
display: none;
}
.header-content {
padding: 0 8px;
}
.dropdown-search-container {
left: 0;   
}
.dropdown-notification-container {
right: 0;   
}
.chat-container {
display: none;
}
.window-wrapper {
position: absolute;
}
.window-content-wrapper {
height: auto;
max-height: auto;
}
.message-container .text-messages-container {
height: auto;
}
.message-recipient-wrapper .recipient-list-wrapper {
max-height: 3840px;
padding: 0;
}
.timeline-header-wrapper .avatar-change-wrapper {
display: none;
}
.timeline-370 {
min-height: 0;
}
}

@media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
.timeline-statistics-wrapper {
padding-left: 0;
}
.group-header-wrapper .timeline-statistics-wrapper .statistic {
padding: 10px;
}
}

@media only screen and (max-device-width: 358px), only screen and (max-width: 358px) {
.timeline-statistics-wrapper .statistic {
word-break: break-all;
}
}

@media only screen and (max-device-width: 639px), only screen and (max-width: 639px) {
.header-live-search input {
width: 150px;
}
.timeline-header-wrapper .avatar-wrapper img {
width: 130px;
padding: 6px;
}
.timeline-header-wrapper .avatar-progress-wrapper {
top: 6px;
right: 6px;
bottom: 6px;
left: 6px;
padding: 60px 0 0;
}
}

@media only screen and (max-device-width: 525px), only screen and (max-width: 525px) {
.header-user-link span{
display: none;
}
.timeline-header-wrapper .avatar-wrapper img {
width: 110px;
padding: 4px;
}
.timeline-header-wrapper .avatar-progress-wrapper {
top: 4px;
right: 4px;
bottom: 4px;
left: 4px;
padding: 50px 0 0;
}
.timeline-statistics-wrapper .statistic {
padding: 10px;
}
.timeline-statistics-wrapper .item-name {
padding-left: 25px;
}
}

@media only screen and (max-device-width: 479px), only screen and (max-width: 479px) {
.header-site-logo span{
display: none;
}
.header-live-search {
margin-left: 6px;
}
}

@media only screen and (max-device-width: 400px), only screen and (max-width: 400px) {
.header-user-avatar {
display: none;
}
.header-user-info {
margin: 13px 0;
}
.timeline-statistics-wrapper .item-name a{
font-size: 13px;
}
.timeline-statistics-wrapper .statistic {
font-size: 12px;
}
.timeline-header-wrapper .avatar-wrapper img {
width: 80px;
}
.timeline-header-wrapper .avatar-progress-wrapper {
top: 4px;
right: 4px;
bottom: 4px;
left: 4px;
padding: 35px 0 0;
}
.timeline-statistics-wrapper .statistic {
padding: 10px;
}
.timeline-buttons-fm span {
display: none;
}
.timeline-buttons-fm i {
margin: 0;  
}
}

@media only screen and (max-device-width: 345px), only screen and (max-width: 345px) {
.header-live-search input {
width: 60px;
}
}