/* New css for v1.2 [begins] */
.header-join-wrapper {
display: none;
}
.wc-feat-float {
	color: white;
	margin: 50px 0 0;
}
.wc-feat-float i {
	width: 72px;
	float: left;
	margin: 0;
}
.wc-feat-float .feat-msg {
	width: 478px;
	float: left;
	font-size: 14px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	margin: 2px 0 0 0;
}
.wc-feat-float .feat-msg strong {
	display: block;
	font-size: 17px;
}
.wc-feat-float .feat-msg p {
	margin: 9px 0 0;
	padding: 0;
}

.fail-message {
	color: #666;
	font-weight: 500;
	padding: 8px;
	background: #FD6969;
	color: white;
	border-color: #FD6969;
}

/* New css for v1.1 [begins] */
input[type="checkbox"] {
	display: inline-block;
	vertical-align: top;
	background: white;
	color: #4b4b4b;
	padding: 2px;
}
.fb-button {
    background: #6A91E2;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.fb-button a {
	display: block;
	color: white;
}
.fb-button i {
	display: inline-block;
	padding: 6px 15px;
	margin: 4px 8px 4px 0;
	border-right: 1px solid #6083CE;
}
.fb-button span {
	display: inline-block;
	padding: 7px 0 8px;
}
/* New css for v1.1 [ends]
    background: url("/images/communication3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/

body {
    background: #f3f3f3;
}

h1 {
	color: white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
small {
	color: white;
	font-size: 21px;
	text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.page-margin {
    padding-top: 60px;
}
.page-wrapper {
    margin-bottom: 250px;  
}
.header-site-logo img {
	height: 22px;
}

.welcome-form {
	color: #666;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.welcome-form .form-header {
	font-weight: 500;
	padding: 15px 10px 0;
}
.welcome-form .post-message {
	background: #eff7b5;
	color: #4e5665;
	font-weight: 500;
	padding: 8px;
	border-bottom: 1px solid #dfeb8a;
	border-radius: 3px 3px 0 0;
}
.welcome-form .form-content {
	padding: 15px 10px;
}
.welcome-form .input-wrapper {
	position: relative;
	margin-bottom: 15px;
}
.welcome-form .input-wrapper img.captcha {
	vertical-align: middle;
	border-radius: 3px;
}
.welcome-form input[type=text], .welcome-form input[type=password], .welcome-form textarea {
	width: 96%;
    color: #999;
    background: #fff;
    border: 1px solid #eee;
    margin: 0;
    padding: 10px 5px;
}
.welcome-form select {
	width: 100%;
	color: #999;
    background: #fff;
    border: 1px solid #eee;
    margin: 0;
    padding: 10px 5px;
}
.welcome-form button {
	padding: 8px 10px;
	width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
.welcome-form .check-username-result {
	position: absolute;
	top: 5px; right: 5px;
}
.footer-wrapper {
    background: #e8e8e8;
}
@media only screen and (max-device-width: 1920px), only screen and (max-width: 1920px) {
.header-site-logo {
	display: inline;
}
}